.slider {
     position: relative;
     max-width: 1500px;
     margin: 40px auto;
     overflow: hidden;
     border-radius: 10px;
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
 }
 
 .slides {
     display: flex;
     transition: transform 0.5s ease-in-out;
 }
 
 .slide {
     min-width: 100%;
     transition: opacity 0.5s ease-in-out;
     opacity: 0;
 }
 
 .slide.active {
     opacity: 1;
 }
 
 .slide img {
     width: 100%;
     display: block;
     border-radius: 10px;
 }
 
 button.prev, button.next {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     background-color: rgba(0, 0, 0, 0.5);
     border: none;
     color: white;
     padding: 10px;
     cursor: pointer;
     border-radius: 50%;
     z-index: 1;
 }
 
 button.prev {
     left: 10px;
 }
 
 button.next {
     right: 10px;
 }
 
 button.prev:hover, button.next:hover {
     background-color: rgba(0, 0, 0, 0.8);
 }
 

 .content{
     width: 80%;
     margin: auto;
 }

 .box2 {
     display: flex;
     align-items: center;
 }