
body {
  
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}


.checkout-form-container {
  display: flex;
  width: 100%;
  padding: 20px;
}

.checkout-form-section {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.checkout-form {
  display: flex;
  flex-direction: column;
}

.checkout-form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkout-form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 10px;
}

.checkout-form input,
.checkout-form select,
.checkout-form textarea {
  padding: 8px;
  margin-top: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
}

.checkout-textarea {
  height: 100px;
  resize: vertical;
}

.checkout-order-section {
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.checkout-con-order-section {
  border: 1px solid #ff9a9e;
  padding: 10px;
}

.checkout-order-section .checkout-form-group {
  display: block;
  margin-bottom: 10px;
}

.checkout-order-section input {
  margin-right: 10px;
}

.checkout-button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
}

.checkout-privacy-link a {
  color: #000;
  text-decoration: none;
}

.checkout-privacy-link a:hover {
  text-decoration: underline;
}

.checkout-privacy-link p {
  font-size: 85%;
}

.checkout-label {
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 0.4em;
  display: block;
}

.paymen_box p {
  font-size: .9em;
}

